/hs_err_pid17832.log
/loadNotifications.php
/loadPrinterCounters.php
/loadSLAReminders.php
/phpinfo.php
/rozmowa z markiem .txt
/application/views/light/reportscontroller/data.json
/.idea/shelf/Uncommitted_changes_before_Update_at_02_11_2024_14_55_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_02_11_2024_14_55__Changes_.xml
/.idea/.name
/.idea/encodings.xml
/.idea/php.xml
/.idea/workspace.xml

# IDE and editor artifacts
/.idea/shelf/
/.idea/codeception.xml
/.idea/phpspec.xml
/.idea/phpunit.xml
/.vscode/
/*.code-workspace

# OS artifacts
**/.DS_Store

# Local build/cache/temp artifacts
/templates_c/
/public_html/templates_c/
/tmp/
/library/vendor/mpdf/mpdf/tmp/
/library/test.json
/library/composer.phar
/hs_err_pid*.log
