Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1
Allow from 188.122.18.86
Allow from 91.90.174.83
Allow from 91.231.124.35

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule    ^$    public_html/    [L]
    RewriteRule    (.*) public_html/$1    [L]
</IfModule> 
