Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from ::1
# Tomek Office
Allow from 188.122.18.86
# Tomek Home
Allow from 91.90.174.83
# BOK Office
Allow from 91.231.124.35

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Nie przepisuj tego konkretnego pliku
    RewriteRule ^loadclientpayments\.php$ - [L]

    # Nie przepisuj jeśli już jesteśmy w public_html
    RewriteRule ^public_html/ - [L]

    RewriteRule ^$ public_html/ [L]
    RewriteRule ^(.*)$ public_html/$1 [L]
</IfModule>